:root{
    --background-color: #2E2F42;
    --light-background-color:#F4F4FD;
    --hero-title:#FFFFFF;
    --text-line-height:1.5;
    --title-color: #2E2F42;
    --text: #434455;
    --accent-color:#4D5AE5;
    --text-font-weight:500;
    --title-font-weight:700;
    --logo-font-style:800
}


body {
    font-family: "Roboto"; } 
.list { 
    list-style: none;
}

.link { 
    text-decoration: none;
}

/*HEADER*/
.header {
}
.header-navigation {
}
.header-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height:1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-color);
}
.accent {
    font-family: 'Raleway';
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--accent-color);
}
.header-nav {
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: var(--text-line-height);
    letter-spacing: 0.02em;
    color: #2E2F42
}

.address{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--text-line-height);
    letter-spacing: 0.02em;
    color: var(--text);
}

.header-e-mail {
}
.header-tel {
}
.link:hover,
.link:focus {
    color:var(--accent-color)
}
.hero-dutton:hover,
.hero-dutton:focus {
    background-color: #F4F4FD; 
    color: var(--accent-color);
}

.product-button:hover,
.product-button:focus{
    color:var(--hero-title);
    background-color:var(--accent-color);
}
/*HERO*/
.hero {background-color:var(--background-color) ;}


    
.hero-title {
    font-weight:var(--title-font-weight);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--hero-title);
}

.hero-button {
    Font-family: inherit;
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: var(--text-line-height);
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    color:var(--hero-title);
    cursor:pointer;
    background: #4D5AE5;
}
.hero-dutton:hover,
.hero-dutton:focus {
    color: var(--accent-color);
    background-color: #F4F4FD;
}
/*SECTION Upper */
.features{}

/*.features-title ,
.invisible-title{
visibility: hidden;
*/
.features-list {}

.features-item {
    font-weight: var(--text-font-weight);
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    font-size: 16px;
    line-height:var(--text-line-height);
    letter-spacing: 0.02em;
    color:var(--text);
}
/*middle*/

.middle-title {
    font-weight:var(--title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.middle-list {}

.middle {}

/*TEAM*/
.team { 
    background-color:var(--light-background-color);
}

.team-title {
    font-weight:var(--title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {}

.team-person {
    font-style: normal;
    font-weight: var(--text-font-weight);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--title-color)
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--text);
}
/*FOOTER*/
.footer { 
    background-color: var(--background-color);
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height: 1.33; 
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--hero-title);
    
}
.link {}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/*HEADER2*/

/*PRODUCTS*/
.products {}

.invisible-title {}


.product-button {
    font-family: inherit;
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #4D5AE5;
    background-color: #F4F4FD;

}

.products-list {}

.product-title {
    font-weight: var(--text-font-weight);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
}
/*FOOTER2*/