:root{
    --background-color: #2E2F42;
    --title-color: #2E2F42;
    --text: #434455;
}


body {
    font-family: "Roboto"; } 
.list { 
    list-style: none;
}

.link { 
    text-decoration: none;
}

/*li {list-style: none;}
a {text-decoration: none;}*/

/*HEADER*/
.header {
}
.header-navigation {
}
.header-logo {
}
.header-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-address {}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-e-mail {
}
.header-tel {
}
.header:hover,
.header:focus {
    color:#4D5AE5;
}
/*HERO*/
.hero {background-color:var(--background-color) ;}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {
    Font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #FFFFFF;
}
/*SECTION Upper */
.features{}

.features-title {}

.features-list {}

.features-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
}
/*middle*/

.middle-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.middle-list {}

.middle {}

/*TEAM*/
.team { 
    background-color:#F4F4FD ;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {}

.team-person {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--title-color)
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--text);
}
/*FOOTER*/
.footer { 
    background-color: var(--background-color);
}

.footer-logo {}

.link {}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/*HEADER2*/

/*PRODUCTS*/
.products {}

.invisible-title {}

.product-buttons {}

.product-button {
    font-family: inherit;;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
}

.products-list {}

.product-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--text);
}
/*FOOTER*/